
body {
    font-family: 'Fira Code', monospace;
    background-color: #222; 
    font-size: 16px;
    margin: 2em;
}

.container {
    color: #222;
}

div {
    border: solid 2px #BA2E2E;
    background-color: white;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
}

.zoom-out img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.zoom-out img:hover {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

h1, h2 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: #222;
}

hr {
    width: 15%;
    height: 5px;
    background-color: #222;
}

img {
    width: 100.6%;
    height: auto;
    margin-bottom: -0.3em;
}


p {
    color: black;
    margin: 15px;
    padding: 15px;
}

.mode {
    font-style: italic;
    font-weight: bold;
}

.super {
    font-style: italic;
}

.formulaire {
    width: 100%;
    display: flex;
    justify-content: center;
    border: solid 2px #BA2E2E;
    background-color: white;
}

ul {
    list-style:none;
    padding: 0;
}

li {

    flex-wrap: wrap;
    align-items: center;
    margin: 1em;
}
 .bouton {
    float: right;
 }

 input#pseudo {
    width: 48.99%;
    height: 1.5em;
    border: 1px black solid;
 }

 textarea {
    border: solid 1px black;
 }

 .back {
    position: fixed;
    display: block;
    width: 20px;
    height: 20px;
    right: 10px;
    bottom: 15px;
 }

@media screen and (max-width: 768px)
{
    body {
        font-size: 12px;
    }

    h1, h2 {
        font-size: 18px;
    }

    .container {
        margin: 1em;
    }
    input#pseudo{
        float: right;
    }
}