
body {
    font-family: 'Fira Code', monospace;
    background-color: #222; 
    font-size: 16px;
    margin: 2em;
}

.container {
    background: #ffffff;
    color: #222;
    border: solid 2px #BA2E2E;
}

h1, h2 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: #222;
}

hr {
    width: 15%;
    height: 5px;
    background-color: #222;
}

img {
    width: 100%;
    height: auto;
}

p {
    color: black;
    margin: 15px;
    padding: 15px;
}

.mode {
    font-style: italic;
    font-weight: bold;
}

.super {
    font-style: italic;
}

.formulaire {
    width: 100%;
    display: flex;
    justify-content: center;
}

ul {
    list-style:none;
    padding: 0;
}

li {

    flex-wrap: wrap;
    align-items: center;
    margin: 1em;
}
 .bouton {
    display: inline-block;
    float: right;
 }

 input#pseudo {
    width: 48.99%;
    height: 1.5em;
    border: solid 1px black;
 }

 textarea {
    border: solid 1px black;
 }

/*@media screen all and (max-width: 1920px)
{
    body {
        font-size: 
    }
    img {
        width: 100%;
        height: 150px;
    }

    .formulaire {
        display: block;
        text-align: center;
    }

    h1, h2 {
        font-size: 20px;
    }

    .container {
        margin: 1em;
    }
}*/