body {
    background-color: #222;
    margin: 2em;
}

.container {/*
    background-color: #ffffff;
    border: solid 2px #BA2E2E;*/
    color: #222;
    font-family: 'Fira Code', monospace;
}

.block {
    background-color: white;
    border: solid 2px #BA2E2E;
    margin-bottom: 2em;
}

/*Titres*/
h1, h2 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

/*Images*/
.container-img {
    display: flex;
    align-items: center;
    margin: 2em 0;
    align-items: stretch;
    flex-wrap: wrap;
}

.container-img img{
    width: 100px;
    height: 100px;
    -webkit-transition: .3s ease-in-out !important; 
    transition: .4s ease-in-out !important;
    border-radius: 5%;
    margin: 1em;
}

.container-img img:hover {
    width: 120px;
    height: 120px;
    border-radius: 50%; 
}

div.avatar {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 25%;
    justify-content: center;
}

.alex, .ismael, .morgane, .elodie {
    opacity: 0;
}

.alex-img:hover + .alex {
    opacity: 1;
}

.ismael-img:hover + .ismael {
    opacity: 1;
}

.morgane-img:hover + .morgane {
    opacity: 1;
}

.elodie-img:hover + .elodie {
    opacity: 1;
}

/*Texte*/
.texte {
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

span {
    font-size: 17px;
    color: #BA2E2E;
}

.texte p {
    text-align: center;
    max-width: 1200px;
}

p {
    margin: 0 2em;
}

/*Ligne*/
hr {
    width: 10%;
    height: 3px;
    background-color: #222;
}

/*Formulaire*/
.formulaire {
    width: 100%;
    display: flex;
    justify-content: center;
}

ul {
    list-style:none;
    padding: 0;
}

li {
    flex-wrap: wrap;
    align-items: center;
    margin: 1em;
}

textarea {
    border: solid 1px black;
}

input#nom{
    width: 48.99%;
    height: 1.5em;
    border: solid 1px black;
    float: right;
}

input#email {
    width: 48.99%;
    height: 1.5em;
    border: solid 1px black;
    float: right;
}

.bouton {
    float: right;
}

/* Back to Top button */
.back {
    position: fixed;
    display: block;
    width: 23px;
    height: 22px;
    right: 33px;
    bottom: 35px;
 }

 .backtotop {
    width: 20px;
 }

@media screen and (max-width: 768px) {
    h1, h2 {
        font-family: 'Luckiest Guy', cursive;
        text-align: center;
        padding: 0.2em;
        margin: 1em;
    }

    .container-img {
        flex-direction: column;
    }

    .container-img img {
        width: 80px;
        height: 80px;
        border-radius: 5%;
        margin: 0.5em;
    }

    div.avatar {
        align-items: center;
        align-self: center;
        height: 25%;
        width: 40%;
    }

    div.alex {
        height: 2em;
        width: 15em;
    }

    div.ismael {
        height: 2em;
        width: 15em;
    }

    div.morgane {
        height: 2em;
        width: 15em;
    }

    div.elodie {
        height: 2em;
        width: 15em;
    }

    .texte {
        font-size: 15px;
        margin: 0.5em;
    }

    span {
        font-size: 17px;
    }

}

 @media screen and (max-width: 525px) {
    div.avatar {
        margin-bottom: 3.5em;
    }
} 