body {
    background-color: #222;
}

.container {
    background-color: #ffffff;
    color: #222;
    margin: 1em;
    border: solid 1px #BA2E2E;
    font-family: ‘Fira Code’, monospace;
}

/*Titres*/
h1, h2 {
    font-family: ‘Permanent Marker’, cursive;
    text-align: center;
    padding: 0.5em;
}

/*Images*/
.container-img {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.container-img img {
    width: 100px;
    height: 100px;
    -webkit-transition: .3s ease-in-out !important; 
    transition: .3s ease-in-out !important;
    border-radius: 5%;
}

.container-img img:hover {
    width: 130px;
    height: 130px;
    border-radius: 50%; 
}

.avatar {
    flex-wrap: wrap;
    text-align: center;
}

#alex, #ismael, #morgane, #elodie {
    opacity: 0;
}

.container-img:hover #alex {
    opacity:1;
}

.container-img:hover #ismael {
    opacity:1;
}

.container-img:hover #morgane {
    opacity:1;
}

.container-img:hover #elodie {
    opacity:1;
}

/*Ligne*/
hr {
    border: dotted 1px #222;
    margin-top: 3em;
}

/*Formulaire*/
.formulaire {
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
}

.formulaire * {
    box-sizing: border-box;
}

.cases li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1em;
}

.cases > li > label {
    flex: 1 0 120px;
}

.cases > li > label + * {
    flex: 1 0 220px;
    border: solid 1px #222;
}

.cases li button {
    margin-left: auto;
    padding: 5px 10px;
    border: none;
    background: #222;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
}
/*@media screen and (max-width: 768px);*/