body {
	background-color: #222;
	margin: 0px 20px 0px 20px;
	padding: 10px 0px 10px 0px;
}

.title {
	color: #4d4d4d;
	font-family: 'Monofett', cursive;
}

.container {
	display: flex;
	flex-wrap: wrap;
}
p {
	margin-left: 1em;
	margin-right: 1em;
}

.article {
	width: 100%;
	margin-bottom: 10px;
	margin-top:  10px;
	flex-shrink: 1;
	display: flex;
	justify-content: space-around;
}

h2 {
	font-family: 'Permanent Marker', cursive;
}

img {
	width: 50%;
	height: auto;
}
.zoom-out div img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom-out div:hover img {
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
}

.container :nth-child(2n) {
	flex-flow: row-reverse;
	justify-content: center;
}

.content {
	text-align: center;
	background-color: white;
	/*border: 1px #BA2E2E solid;*/
	width: 100%;
	padding: 10px 0;
	font-family: 'Fira Code', monospace;
}

hr {
	width: 15%;
	height: 5px;
	background-color: #222; 
}

a {
	text-decoration: none;
	color: #222;
}

a:hover {
background-color: #222;
color: white;
}

a:active {
color: #222;
}

@media screen and (max-width: 768px) {
	.article {
		flex-flow: row nowrap;
		flex-direction: column;
	}
	img {
		width: 100%;
	}

	.container :nth-child(2n) {
	flex-flow: row nowrap;
	justify-content: flex-start;
	flex-wrap: wrap;
	}
}