body {
    margin: 0;
    background-color: #262626;
  }
  
  a {
    color: white;
  }
  
  /* header */
  
  .header {
    background-color: #262626;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.5);
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #262626;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: white;
    color: #262626;
  }
  
  .header .logo{
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  .sous_titre{
    color: white;
    font-size: 0.7em;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: gray;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 768px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  

  .corps{
    border: 1px gray solid;
    padding: 90% 10%;
    background: lightgray;
  }

  footer{
      color: white;
      font-size: 1em;
  }

    .dov{
      display: inline-block;
      width: 20%;
      margin: 1% 0% 1% 1%;
  }

    .dav{
        display: block;
        float: right;
        margin-right: 5%;
        margin-top: 1.5%;
    }
/* 
.formulaire{
    width: 100%;
    display: flex;
    justify-content: center;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    flex-wrap: wrap;
    align-items: center;
    margin: 1em;
}

button{
    float: right;
}

input#nom{
    width: fit-content;
    height: 1.5em;
    border: solid 1px black;
} */

body {
    background-color: #222;
    margin: 2em;
}

.container {
    background-color: #ffffff;
    color: #222;
    border: solid 2px #BA2E2E;
    font-family: 'Fira Code', monospace;
}

/*Titres*/
h1, h2 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

/*Images*/
.container-img {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin: 2em 0;
}

.container-img img {
    width: 100px;
    height: 100px;
    -webkit-transition: .3s ease-in-out !important; 
    transition: .4s ease-in-out !important;
    border-radius: 5%;
    margin: 1em;
}

.container-img img:hover {
    width: 120px;
    height: 120px;
    border-radius: 50%; 
}

.avatar {
    flex-wrap: wrap;
    text-align: center;
}

.alex, .ismael, .morgane, .elodie {
    opacity: 0;
}

.alex-img:hover + .alex {
    opacity: 1;
}

.ismael-img:hover + .ismael {
    opacity: 1;
}

.morgane-img:hover + .morgane {
    opacity: 1;
}

.elodie-img:hover + .elodie {
    opacity: 1;
}

/*Texte*/
.texte {
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

span {
    font-size: 17px;
    color: #BA2E2E;
}

.texte p {
    text-align: center;
    max-width: 1200px;
}

/*Ligne*/
hr {
    width: 10%;
    height: 3px;
    background-color: #222;
}

/*Formulaire*/
.formulaire {
    width: 100%;
    display: flex;
    justify-content: center;
}

ul {
    list-style:none;
    padding: auto;
}

li {
    flex-wrap: wrap;
    align-items: center;
    margin: 1em;
}

button{
    float: right;
}
 
input#nom{
    width: fit-content;
    height: 1.5em;
    border: solid 1px black;
}

/* Back to Top button */
.backToTop {
    position: fixed;
    display: block;
    background-image: url("https://zupimages.net/up/19/38/5c93.png");
    bottom: 15px;
    right: 10px;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    opacity: 0.7;
}
  
.backToTop:hover {
    opacity : 1;
}

@media screen and (max-width: 768px) {
    h1, h2 {
        font-family: 'Luckiest Guy', cursive;
        text-align: center;
        padding: 0.2em;
        margin: 1em;
    }

    .container-img {
        flex-direction: column;
    }

    .container-img img {
        width: 80px;
        height: 80px;
        border-radius: 5%;
        margin: 0.5em;
    }

    .texte {
        font-size: 15px;
        margin: 0.5em;
    }

    span {
        font-size: 17px;
    }

}